BINTRAY_APIKEY =
# test url app must be tests directory in end
TEST_URL_APP = http://apps.itgolo.pl/skeletonapp/tests
# test remote dir app must be without tests directory in end
TEST_REMOTE_DIR_APP =
TEST_FTP_HOST =
TEST_FTP_PORT = 21
TEST_FTP_USER =
TEST_FTP_PASSWORD =
APP_URL_DIR = http://apps.itgolo.pl/skeletonapp
APP_FTP_DIR =
APP_FTP_HOST =
APP_FTP_PORT = 21
APP_FTP_USER =
APP_FTP_PASSWORD =